{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
<!--
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
-->
{{ if .Params.date }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}
<div class="content-wrapper">
  <main>
    {{ .Content }}
    <a href="/"> >> Home</a>
  </main>
</div>


<div id="comments">
  <h2>Comments</h2>
  <div id="comments-container"></div>
</div>



<script src="https://utteranc.es/client.js"
    repo="nocanstillbb/nocanstillbb.github.io"
    issue-term="comments - {{ .Date.Format "20060102" }} -  {{ .Title | markdownify }}"
    theme="github-light"
    crossorigin="anonymous"
    async>
</script>



{{ partial "footer.html" . }}
